.album-page {
    padding: 75px 0;
    .albums {
        padding: 0;
        .album {
            position: relative;
            margin-bottom: 15px;
            height: 300px;
            a {
                display: block;
                text-decoration: none;
                height: 100%;
                .album-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    // background: rgba(0,0,0,0.2);
                    border-radius: 8px;
                    box-shadow: inset 0 -120px 50px -40px #00356db3;
                }
                .album-image {
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;
                    background: {
                        size: cover;
                        position: center center;
                        repeat: no-repeat;
                    }
                }
                .image-badges {
                    margin-bottom: 12px;
                    .cat-badge {
                        position: unset;
                        display: inline-block;
                        padding: 3px 10px;
                        border-radius: 8px;
                        background: #cc2609;
                        color: #FFF;
                        font-size: 0.8rem;
                    }
                    .images-badge {
                        position: unset;
                        display: inline-block;
                        padding: 3px 10px;
                        border-radius: 8px;
                        background: #005aff;
                        color: #FFF;
                        font-size: 0.8rem;
                        svg {
                            fill: #FFF;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
                .album-content {
                    position: absolute;
                    bottom: 15px;
                    text-align: center;
                    h2 {
                        font-size: 1.3rem;
                        color: #FFF;
                        padding: 0 25px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
        }
    }
    .gallery {
        ul {
            li {
                margin-bottom: 15px;
            }
        }
        a {
            position: relative;
            height: 235px;
            width: 100%;
            display: block;
            margin-bottom: 0;
            overflow: hidden;
            transition: all 0.3s ease-in-out;
            text-decoration: none;
            border-radius: 8px;
            color: #FFF;
            &:hover {
                transition: all 0.3s ease-in-out;
                .gal-overlay {
                    visibility: visible;
                    opacity: 1;
                    svg {
                        visibility: visible;
                        opacity: 1;
                        transform: scale(1);
                    }
                }
            }
            figure {
                height: 260px;
                width: 100%;
                border-radius: 8px;
                margin-bottom: 0;
                transform: scale(1.4);
                background: {
                    position: center center;
                    size: cover;
                    repeat: no-repeat;
                }
                transition: all 0.3s ease-in-out;
            }
            .img-id {
                width: 100%;
                height: 100%;
                border-radius: 8px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                position: relative;
                z-index: 2;
                transition: box-shadow .2s ease-in-out;
                text-align: left;
                padding: 5px 10px;
            }
            img {
                display: none;
            }
            .gal-overlay {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(21,21,31,.8);
                border-radius: 8px;
                display: flex;
                align-items: center;
                vertical-align: middle;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                visibility: hidden;
                opacity: 0;
                svg {
                    fill: #FFF;
                    height: 20px;
                    width: 20px;
                    visibility: hidden;
                    opacity: 0;
                    transition-delay: .2s;
                    transform: scale(0);
                }
            }
        }
        .image-title {
            box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
            background: var(--card-bg);
            padding: 15px 15px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            h5 {
                font-size: 1.1rem;
                margin: 0;
                color: var(--h-color);
            }
        }
    }
}

.lg-backdrop,
.lg-outer,
.lg-outer .lg-inner {
    direction: ltr;
}
.lg-progress-bar .lg-progress {
    background: #005aff !important;
}
.lg-backdrop {
    background-color: rgba(21, 21, 31, 0.96);
}
// .lg-flip-ver,
// .lg-flip-hor,
// .lg-rotate-right,
// .lg-rotate-left {
//     display: none;
// }
.lg-outer .lg-thumb-item {
    cursor: pointer !important;
    float: left;
    overflow: hidden;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin: 0 !important;
    opacity: 0.3;
    transition: all 0.3s ease-in-out;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
    opacity: 1;
}
.lg-outer .lg-thumb {
    margin: auto;
}